* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("https://c.wallhere.com/photos/cb/99/guitar_simple_background_musical_instrument-1762353.jpg!d");
  background-size: cover;
}
.main {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__genre {
  width: 60%;
  line-height: 5rem;
  padding-left: 2rem;
}
#main__albums-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}
.album-list__item {
  width: 20rem;
  margin: 3rem;
  position: relative;
}
.album-list__item:hover .album__vinile {
  transform: translate(20%,-50%);
}
.album-list__item:hover .album {
  transform: translatex(-7.5%);
}
.album {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: tan;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.album__vinile {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%,-50%);
  width: 100%;
  transition: 0.5s;
}
.album__poster {
  width: 80%;
}
.album__title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}
.album__year {
  font-size: 1.5rem;
}

.dis-none {
  display: none;
}
